<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
<form action="/add_action" method="POST" enctype="multipart/form-data">
    <label for="namae">名前 :</label>
    <input type="text" id="namae" name="namae" required><br><br>
    <label for="bunrui">分類 :</label>
    <input type="text" id="bunrui" name="bunrui"><br><br>
    <label for="naiyou">内容 :</label>
    <textarea id="naiyou" name="naiyou" required></textarea><br><br>
    <label for="photos">写真 :</label><br>
    <input type="file" id="photo1" name="photos" accept="image/jpeg, image/png, image/gif" required><br>
    <input type="file" id="photo2" name="photos" accept="image/jpeg, image/png, image/gif"><br>
    <input type="file" id="photo3" name="photos" accept="image/jpeg, image/png, image/gif"><br>
    <input type="file" id="photo4" name="photos" accept="image/jpeg, image/png, image/gif"><br>
    <input type="file" id="photo5" name="photos" accept="image/jpeg, image/png, image/gif"><br><br>
    <button type="submit">登録</button>
</form>