<head>
    <link rel="icon" href="{{ url_for('static', filename='imgs/icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<div class="hidari">
    <div class="top">
        <form id="search-form" method="POST" target="list_view" action="/search">
            <input type="text" id="keyword-input" name="keyword" class="search-form">
            <button type="submit" class="search-form">
                <img src="{{ url_for('static', filename='imgs/search.png') }}">
            </button>
        </form>
    </div>
    <div class="bottom">
        <iframe id="list_view" name="list_view" src=""></iframe>
    </div>
</div>
<div class="migi">
    <div class="view">
        <iframe id="page_view" src="/init"></iframe>
    </div>
    <div class="bar">
        <iframe id="bar_view" src="/bar1"></iframe>
    </div>
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
