<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
</head>
<h1>{{ item.namae }}</h1>
{% if pi0 %}
<img src="data:image/jpeg;base64,{{ pi0 }}" width="256" height="256" onclick="openModal('{{ pi0|safe }}')">
{% endif %}
{% if item.bunrui %}
<p>{{ item.bunrui }}</p>
{% else %}
<p>未分類</p>
{% endif %}
{{ item.naiyou | safe }}
<p><div class="image-container">
    {% if p1 %}
    <img src="data:image/jpeg;base64,{{ p1 }}" onclick="openModal('{{ p1|safe }}')">
    {% endif %}
    {% if p2 %}
    <img src="data:image/jpeg;base64,{{ p2 }}" onclick="openModal('{{ p2|safe }}')">
    {% endif %}
    {% if p3 %}
    <img src="data:image/jpeg;base64,{{ p3 }}" onclick="openModal('{{ p3|safe }}')">
    {% endif %}
    {% if p4 %}
    <img src="data:image/jpeg;base64,{{ p4 }}" onclick="openModal('{{ p4|safe }}')">
    {% endif %}
</div></p>
<form id="bar_exec" action="/amd" method="post">
    <input type="hidden" name="namae" value="{{ item.namae }}">
    <input type="hidden" name="bunrui" value="{{ item.bunrui }}">
    <input type="hidden" name="naiyou" value="{{ item.naiyou }}">
    <input type="hidden" name="id" value="{{ item.id }}">
    <input type="hidden" name="p1" value="{% if p1 %}1{% else %}0{% endif %}">
    <input type="hidden" name="p2" value="{% if p2 %}1{% else %}0{% endif %}">
    <input type="hidden" name="p3" value="{% if p3 %}1{% else %}0{% endif %}">
    <input type="hidden" name="p4" value="{% if p4 %}1{% else %}0{% endif %}">
    <input type="hidden" name="action" id="action" value="">
</form>
<div id="picModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImg">
</div>
<script src="{{ url_for('static', filename='view.js') }}"></script>